*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* shared styles */
      /* color */
.text-gray{
    color: rgba(0, 0, 0, 0.50);
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
}
.text-color{
    color: #E95A08;
}


     /* fonts */
.inter-font {
  font-family: "Inter", sans-serif;
}
.noto-serif-font{
    font-family: "Noto Serif", serif;
}

   /* container */
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}



/* navbar section styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    /* margin-bottom: 100px; */
}

.logo img{
     height: 80px;
     width: auto;
}

/* nav-links */
.nav-links ul{
     display: flex;
     list-style: none;
     gap: 48px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #E95A08;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}


.nav-links ul li a{
    text-decoration: none;
    color: #8987A1;
    font-weight: 400;
}
.home{
    color: black;
}

.cart{
    cursor: pointer;
}

/* hero section styles */
.hero{
    padding: 100px 0;
}
.hero-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    gap: 40px;
}
.content-title{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 13px;
}
.hero-img img{
    width: 100%;
    max-width: 570px;
}

/* Our Plants Section styles */
.our-plants{
    text-align: center;
}
.section-title{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 16px;
}
.section-dsc{
    margin-bottom: 50px;
}
         /* Product section styles */
.Product-conatiner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.card{
    transition: transform 0.2s ease;
}
.card:hover{
    transform: translateY(-5px);
}

.card img{
    margin-bottom: 20px;
    width: 100%;
}
.card-title{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
}
.price{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}
.add-btn{
    width: 100%;
    height: 50px;
    background-color: rgb(233, 90, 8);
    color: white;
    border: none;
    cursor: pointer;
    transition: 1s ease;
}
.add-btn:hover{
    background-color: black;
}

/* Flower & Plants Lover section styles */
.plants-lover-section{
    padding-top: 210px;
    padding-bottom: 130px;
}
.plants-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
}
          /* left content */
.plants-img{
    position: relative;
    width: 100%;
    height: auto;

}
.plants-img .plants-image{
    width: 100%;
    height: auto;
    display: block;
}

.trusted-badge{
    position: absolute;
    top: -140px;
    right: -100px;
    width: 280px;
    height: auto;
}

       /* Right content */
.plants-text h2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 20px;
}
.plants-text ul{
    padding-left: 40px;
}
.plants-text ul li{
    margin-bottom: 20px;
}

/* Latest Deals Section Styles */
.latest-deals{
    text-align: center;
}
.section-title1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 16px;
}

.section-dsc1{
    max-width: 880px;
    margin: auto;
}

    /* deals container */
.deals-container{
    margin: 120px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 30px;
}

.deals-left{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.deal-box{
    position: relative;
    /* height: 300px; */
    border-radius: 12px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
}
.title1{
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 19px;
}
.title2{
    color: white;
}
.title3{
    font-size: 40px;
    color: white;
    margin-bottom: 19px;
}
.title4{
    color: white;
    font-size: 28px;
}

   /* background images */
.deal-1{
    background-image:linear-gradient(rgba(0, 0, 0, 0.40)), url('images/deal-bloom.png');
    width: 366px;
    height: 206px;
}
.deal-2{
    background-image:linear-gradient(rgba(0, 0, 0, 0.40)), url('images/deal-ana.png');
    width: 366px;
    height: 206px;
}
.deal-3{
    background-image:linear-gradient(rgba(0, 0, 0, 0.40)), url('images/deal-zabo.png');
    width: 700px;
    height: 440px;
}

/* subscription section styles */
.subscribe-section{
    background: url('images/news-letter-bg.png');
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 533px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe-container{
    text-align: center;
    width: 830px;
    height: auto;
}
.subscribe-container h2{
    font-size: 50px;
    color: white;
    margin-bottom: 23px;
}

    /* form */
.input-form{
    display: flex;
}

.subscribe-form input{
    flex: 1;
    padding: 15px 20px;
    border: none;
    width: 75%;
    outline: none;
}
.subscribe-form input::placeholder{
    color: rgba(0, 0, 0, 0.50);
    font-size: 16px;
}
.subscribe-form button{
    padding: 15px 20px;
    border: none;
    background-color: #E95A08;
    color: white;
    width: 20%;
    cursor: pointer;
    transition: 1s ease;
}
.subscribe-form button:hover{
    background-color: black;
}










/* Mobile Responsive */
@media screen and (max-width: 576px) {
    
    .text-gray{
        font-size: 14px;
        line-height: 17px;
    }
    
        /* nav-link */
    .nav-links ul li{
        display: none ;
    }

        /* hero section */
    .hero-container{
        grid-template-columns: 1fr;
        text-align: center;
        padding: 0;
    }
    .hero-text{
        padding: 0 20px;
        text-align: left;
    }
    .content-title{
        font-size: 35px;
    }
    .hero-img{
        order: -1;
    }
    .cart{
        font-size: 20px;
    }

       /* product section */
    .Product-conatiner{
        grid-template-columns: repeat(2,1fr);
    }
    .card img{
        width: 100%;
        height: auto;
    }
    .card-title{
        font-size: 16px;
        margin-bottom: 5px;
    }
    .price{
        font-size: 16px;
    }
    .add-btn{
        width: 100%;
        height: 50px;
    }

      /* Flower & Plants Lover section */
    .plants-lover-section{
        padding-top: 40px;
        padding-bottom: 140px;
    }
    .plants-container{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .trusted-badge{
        display: none;
    }


    .plants-text ul{
       padding-left: 10px;
    }
    .plants-text ul li{
        margin-bottom: 16px;
    }
    .plants-text h2{
       font-size: 24px;
       font-weight: bold;
       margin-bottom: 16px;
       padding-left: 0;
    }
      /* Latest Deals Section Styles */
    .deals-container{
        margin-top: 50px;
        margin-bottom: 40px;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .deals-left{
        grid-template-rows: none;
        gap: 20px;
        display: flex;
        flex-direction: column;
    }
    
    .section-title1{
       font-size: 24px;
    }

    .title1, .title3{
        font-size: 20px;
    }
    .title2, .title4{
        font-size: 16px;
    }
    .deal-box{
        width: 100%;
        height: 184px;
    }

    /* subscription section */
    .subscribe-section{
        height: 275px;
    }
    
    .subscribe-container{
        width: 300px;
    }
    .subscribe-container h2{
        font-size: 20px;
    }
    
    .input-form button{
        width: 30%;
    }
    
}